#是能够匹配/ab1/ds/.idea/目录和/ab1/ds/.idea文件的

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

#忽略maven编译生成的/target/
/target/

#忽略下载openjdk源码时存放的openjdk.zip
/openjdk-*/openjdk.zip

#忽略configure命令的日志
/openjdk-8u41/openjdk/config.log

### 引入.hgignore文件忽略的文件，加以修改 ###
/openjdk-*/openjdk/build/
# ^dist/
# nbproject/private/
# ^webrev
# ^.hgtip
# ^.bridge2
# .DS_Store